@-webkit-keyframes bounce-from-top{
	0%{
		transform: translate(0, -100%);
	}
	80%{
		transform: translate(0, 10%);
	}
	100%{
		transform: translate(0, 0);
	}
}

@-moz-keyframes bounce-from-top{
	0%{
		transform: translate(0, -100%);
	}
	80%{
		transform: translate(0, 10%);
	}
	100%{
		transform: translate(0, 0);
	}
}

@-o-keyframes bounce-from-top{
	0%{
		transform: translate(0, -100%);
	}
	80%{
		transform: translate(0, 10%);
	}
	100%{
		transform: translate(0, 0);
	}
}

@keyframes bounce-from-top{
	0%{
		transform: translate(0, -100%);
	}
	80%{
		transform: translate(0, 10%);
	}
	100%{
		transform: translate(0, 0);
	}
}

@-webkit-keyframes bounce-from-bottom{
	0%{
		transform: translate(0, 100%);
	}
	80%{
		transform: translate(0, -10%);
	}
	100%{
		transform: translate(0, 0);
	}
}

@-moz-keyframes bounce-from-bottom{
	0%{
		transform: translate(0, 100%);
	}
	80%{
		transform: translate(0, -10%);
	}
	100%{
		transform: translate(0, 0);
	}
}

@-o-keyframes bounce-from-bottom{
	0%{
		transform: translate(0, 100%);
	}
	80%{
		transform: translate(0, -10%);
	}
	100%{
		transform: translate(0, 0);
	}
}

@keyframes bounce-from-bottom{
	0%{
		transform: translate(0, 100%);
	}
	80%{
		transform: translate(0, -10%);
	}
	100%{
		transform: translate(0, 0);
	}
}

@-webkit-keyframes bounce-from-left{
	0%{
		transform: translate(-100%, 0);
	}
	80%{
		transform: translate(10%, 0);
	}
	100%{
		transform: translate(0, 0);
	}
}

@-moz-keyframes bounce-from-left{
	0%{
		transform: translate(-100%, 0);
	}
	80%{
		transform: translate(10%, 0);
	}
	100%{
		transform: translate(0, 0);
	}
}

@-o-keyframes bounce-from-left{
	0%{
		transform: translate(-100%, 0);
	}
	80%{
		transform: translate(10%, 0);
	}
	100%{
		transform: translate(0, 0);
	}
}

@keyframes bounce-from-left{
	0%{
		transform: translate(-100%, 0);
	}
	80%{
		transform: translate(10%, 0);
	}
	100%{
		transform: translate(0, 0);
	}
}

@-webkit-keyframes bounce-from-right{
	0%{
		transform: translate(100%, 0);
	}
	80%{
		transform: translate(-10%, 0);
	}
	100%{
		transform: translate(0, 0);
	}
}

@-moz-keyframes bounce-from-right{
	0%{
		transform: translate(100%, 0);
	}
	80%{
		transform: translate(-10%, 0);
	}
	100%{
		transform: translate(0, 0);
	}
}

@-o-keyframes bounce-from-right{
	0%{
		transform: translate(100%, 0);
	}
	80%{
		transform: translate(-10%, 0);
	}
	100%{
		transform: translate(0, 0);
	}
}

@keyframes bounce-from-right{
	0%{
		transform: translate(100%, 0);
	}
	80%{
		transform: translate(-10%, 0);
	}
	100%{
		transform: translate(0, 0);
	}
}