body{
	color: #fff;
	font-family: 'Roboto', Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  padding: 10px;
}
figure a {
  display: block;
}

section.portfolio-section{
	height: 100vh;

	.section-inner{
		padding-top: 50px;
		height: 100%;
		width: 100%;
	}
}
// mark {
//   padding: 0 5px;
//   background-color: #dddddd;
// }
// ::backdrop {
//   background-color: rgba(0, 0, 0, 0.5);
// }