// Colors
$blue:#313A3D;
$active: #FF5252;
$dark-active:darken($active, 20%);
$grey:#B6B6B6;
$light-grey:lighten($grey, 15%);

$background:#efefef;
$field-color:#E8E9EA;

#contact{
	height: 80vh;
	overflow: hidden;

	h1{
		margin: 0;
		opacity: 0;
		transition: opacity 1s ease-out;
	}

	form{
		opacity: 0;
		transition: opacity 1s ease-out;
	}


	// Transition Ease
	@mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
		  -webkit-transition: $attr $time $curve;
		  -moz-transition: $attr $time $curve;
		  -o-transition: $attr $time $curve;
		  -ms-transition: $attr $time $curve;
		  transition: $attr $time $curve;
	}

	// Form
	form {
		margin-top: 10px;

	    .field {
		    width:100%;
		    position:relative;
		    margin-bottom:15px;

		    @include mobile{
		    	margin-bottom: 10px;
		    }

			$hover-label-width:18%;
		    $placeholder-bumper:1.5%;

			// Label
		    label {
		    	color: #d3d3d3;
			      //text-transform: uppercase;
			      position:absolute;
			      top:0;
			      left:0;
			      background:$blue;
			      width:100%;
			      padding: 18px 15px;
			      font-size: 14px;
			      font-weight: normal;
			      letter-spacing: 0.075em;

			      @include mobile{
			      	padding: 10px 15px;
			      }

			      @include ease(333ms);

			      // Checkmark
			      + span,
			      + span + span {
				       
				        opacity: 0;
				        color: #fff;
				        position:absolute;
				        top: 4px;
				        left: 20px;
				        font-size: 2.5em;

				        @include ease(333ms);
		      	}
		    }

			// Fields
	    	input[type="text"],
		    textarea {
			      border:none;
			      background:$field-color;
			      width:100%;// - $hover-label-width - $placeholder-bumper;
			      margin:0;
			      padding: 18px 0;
			      padding-left:$hover-label-width + $placeholder-bumper;
			      color:$blue;
			      font-size: 14px;
			      letter-spacing: 0.05em;
			      //text-transform: uppercase;

			      @include mobile{
			      	padding: 10px 0;
			      	padding-left: 25% + 5%;
			      }

			      &#msg {
				        height: 55px;
				        resize: none;
				        overflow: hidden;
				        @include ease(333ms);

				        @include mobile{
				        	height: 40px;
				        }
			      }

  				// Focus and JS Toggle Class
			      &:focus,
			      &.focused {
				        outline:none;

    					&#msg {
					          padding-bottom:100px;

					          @include mobile{
					          	padding-bottom: 80px;
					          }
				        }

    					+ label {
					          width:$hover-label-width;
					          background:$active;
					          // color:$blue;
					          @include mobile{
					          	width: 26%;
					          }
				        }
			      }

  				// JS Toggle Class
			      &.focused {
				        + label {
					          color: $active;
				        }
			      }
		    }

			// Field Hover
		    &:hover {
			      label {
				        width:$hover-label-width;
				        background:$blue;
				        color:white;

				        @include mobile{
				        	width: 100%;
				        }
			      }
		    }
	    }

	    // Submit Button
	    input[type="submit"] {
		    background:$active;
		    color:white;
		    -webkit-appearance: none;
		    border: none;
		    text-transform: uppercase;
			position:relative;
			//margin-top: 15px;
		    padding: 13px 50px;
		    font-size: 1.4em;
		    letter-spacing: 0.1em;
		    opacity: 0.8;
		    //@include lato-3;
		    @include ease;
    
			&:hover {
			      opacity: 1;
			      //color:$active;
		    }

			&:focus {
			      outline:none;
			      background:$dark-active;
		    }
	    }
	}
}

//modal

#modal-contact{

	.modal-content{
		border-radius: 0 !important;

		.auto-close-notice {
			opacity: 0.5;
			font-size: 12px;
			display: none;
		}
	}
}