footer{
	color: gray;
	height: 250px;
	background-image: url('../img/bg1.png');
	padding-top: 20px;

	img{
		width: 30px;
		height: 30px;
	}

	@include mobile{
		padding-top: 10px;
		font-size: 12px;
	}
}