#home{
	color: #292929;

	.section-inner{

		h1{
			font-size: 70px;
			margin-top: 0;
			opacity: 0;
			font-weight: bold;
			transition: opacity 1s ease-in;
			
			@include mobile{
				font-size: 40px;
			}
		}

		p{
			font-size: 50px;
			opacity: 0;
			transition: opacity 1s ease-in;
			
			@include mobile{
				font-size: 30px;
			}
		}
	}
}