#skills{
	opacity: 0;
	transition: opacity 1s ease-out;
	
	.chart-container{
		width: 100%;
		height: calc(100vh*0.7);

		.click-circle,
		.skills-button-text{
			cursor: pointer;
		}
		.skills-button-text{
			fill: #fff;
		}
		.click-circle{
			opacity: 0.8;
			transition: all 0.5s ease-out;
		}
		.click-circle.highlighted {
			opacity: 1;
		}

		.skill-label{
			@include mobile{
				font-size: 12px;
			}
		}
	}

}