#works{
	background: #FF4081;

	// CARDS ///////////////////////////
	.works-content {
		text-align: left;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		padding-right: 5%; 
		padding-left: 5%;
		margin-bottom: 90px;

		.works-inner {
			margin-top: 30px;
			margin-bottom: 60px;

			.works-item {
				width: 33%;
				padding-right: 2%;
				padding-left: 2%;
				margin-bottom: 30px;
				float: left;

				&:hover{
					cursor: pointer;
				}
			}

			.card {
				width: 100%;
				background-color: #fff;
				text-align: left;
				position: relative;
				height: 100%;
				box-shadow: 0px 2px 6px 0px rgba(204,209,217,.5);
				border: 1px solid #E6E9ED;

				.works-info {
					padding: 7%;
					min-height: 140px;

					.works-topic {
						font-weight: 500;
						color: #AAB2BD;
						font-size: 12px;
						margin-bottom: 5px;

						&.photo {
							color: #673AB7;
						}

						&.webdesign {
							color: #009688;
						}
						&.computer {
							color: #2196F3;
						}
						&.code {
							color: #4CAF50;
						}
						&.design {
							color: #F44336;
						}
					}

					.works-title {
						font-weight: 500;
						font-size: 14px;
						margin: 0 0 30%;
					}

					.works-meta {
						color: #AAB2BD;
						font-weight: 300;
						font-size: 11px;
						position: absolute;
						left: 7%;
						bottom: 7%;
					}

					.works-duration:before {
						display: inline-block;
						content: "•";
						padding-right: 5px;
						padding-left: 5px;
					}
				}

				.works-caption {
					position: absolute;
					right: 5%;
					bottom: 5%;
					font-size: 18px;
					color: #AAB2BD;
				}
			}
		}

		// SLIDESHOW ///////////////////////////
		.flickity-prev-next-button {
		  background-color: #fff;
		  width: 38px;
		  height: 38px;

		    &.previous {
			  left: -30px;
			}

			&.next {
			  right: -30px;
			}

			&.arrow {
			  fill: #F5F7FA;
			}

			&:hover {
			  background-color: #656D78;
			}
		}
	}

	// MODAL//////////////////////////////
	#myWorksModal{
		padding: 0 !important;

		.modal-dialog{
		    background: red;
			width: 100%;
			min-height: 400px;
			top: 50%;
			transform: translateY(-50%);
			margin: 0;

			.modal-content{
		    	box-shadow: none;

		    	.modal-header{
		    		border-radius: none;
		    		background-color: transparent;
		    	}
		    }
		}
	}
	
}











